version: '3.8'

services:
  notebook:
    command: jupyter notebook --port=8888 --NotebookApp.port_retries=0
    build: 
      context: ./notebooks
    ports:
      - 8888:8888
    volumes:
      - ./:/usr/src/app

