version: '3.8'

services:
  notebook:
    build: 
      context: ./notebooks
    ports:
      - 8888:8888
    env_file:
      - ./.env
    depends_on:
      - postgres
  postgres:
    build:
      context: ./postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    ports:
      - 5432:5432
      
volumes:
  postgres_data: